<%- include('partials/header') %>

<div class="error-page">
    <h1>404 - Oops! Page Not Found</h1>
    <p>The page you're looking for doesn't exist.</p>
    
    <p>You might be looking for:</p>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/contact">Contact Me</a></li>
    </ul>
</div>

<%- include('partials/footer') %>