<%- include('partials/header') %>

<h1><%= title %></h1>
<p><%= message %></p>

<h2>My Background</h2>
<p>I'm a computer science student and a Senior.</p>

<h2>Skills I'm Learning</h2>
<ul>
    <li>Node.js and Express</li>
    <li>EJS Templates and Partials</li>
    <li>HTML/CSS</li>
    <li>JavaScript</li>
</ul>

<h2>Skills I've Learned</h2>
<ul>
    <li>Java</li>
    <li>Python</li>
    <li>HTML/CSS</li>
    <li>JavaScript</li>
    <li>Beginner MySQL</li>
</ul>

<%- include('partials/footer') %>